**/Hyperpay.Aywa.Web/bin/
**/Hyperpay.Aywa.Web/obj/
**/FTTH.Collection.Services2/bin/
**/FTTH.Collection.Services2/obj/
**/*/bin/
**/*/obj/
**/Go.Hyperpay.Service/bin/
**/Go.Hyperpay.Service/obj/

**/GO.ITC.Ticket.Closure/bin/
**/GO.ITC.Ticket.Closure/obj/
**/Go.LTEWallet.Services/bin/
**/Go.LTEWallet.Services/obj/
**/GO.Order.Tracking.Service/bin/
**/GO.Order.Tracking.Service/obj/
**/GO.Process.EInvoiceProducer/bin/
**/GO.Process.EInvoiceProducer/obj/
**/Go.Process.InvoiceURLProducer/bin/
**/Go.Process.InvoiceURLProducer/obj/
**/GO.Service.DeviceExtender/bin/
**/GO.Service.DeviceExtender/obj/

**/Go.Service.NumberBooking/bin/
**/Go.Service.NumberBooking/obj/
**/Go.Service.Utility/bin/
**/Go.Service.Utility/obj/
**/Go.SMSA.Services/bin/
**/Go.SMSA.Services/obj/
**/GO.TestSMTP/bin/
**/GO.TestSMTP/obj/
**/Go.Web.ContactUs/bin/
**/Go.Web.ContactUs/obj/
**/Go.Web.Invoice/bin/
**/Go.Web.Invoice/obj/
**/Go.Web.Invoices/bin/
**/Go.Web.Invoices/obj/
**/Go.Web.ShareHolders/bin/
**/Go.Web.ShareHolders/obj/
/Hyperpay.Aywa.Web/Logs
/Hyperpay.Aywa.Web/Properties/PublishProfiles
