@model ContactModel
@{
    ViewData["Title"] = "Home Page";
}

<form id="contact-form" asp-controller="Home" asp-action="SendMail">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user fas"></i></span>
                            </div>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-question-circle-o fas"></i></span>
                            </div>
                            <select class="form-control" id="contactus_contact_topic" asp-for="Topic" asp-items="@(new SelectList(Model.TopicList,"Value","Text"))">
                            </select>
                            <span asp-validation-for="Topic" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-phone fas"></i></span>
                            </div>
                            <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope-o fas"></i></span>
                            </div>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-pencil fas" style="position: absolute;top: 12px;"></i>
                                </span>
                            </div>
                            <textarea class="form-control" asp-for="Comments" rows="10" placeholder="Comments"></textarea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <img id="img-captcha" src="~/get-captcha-image" />
                            </div>
                            <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
                            <input type="button" id="" value="Refresh" />
                            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class=" btn  float-right sigbtn">Submit </button>
                </div>
            </div>
        </div>
    </div>

</form>

<script>

</script>