

@*<h5 style="text-align: center;width:98%;margin:auto;margin-top: 4%;" class="mb-5">
    <span style="color: #e72540;">@(ViewBag.Lang=="en"? "AYWA PREPAID CALLING CARDS" :"بطاقات أيوا المسبقة الدفع")</span>
</h5>

<h6 style="padding-left: 50px; color: #e7263f;">Aywa Calling Cards</h6>

<p class="auto-style1" style="padding-left: 50px; height: 38px">
    Aywa Prepaid Calling<span lang="ar-jo">
        cards enable you to call a local landline or international line, even if it doesn't have the international zero service.
        Aywa cards are available in several categories
    </span>: <span lang="ar-jo"> (SR  </span>
    34<span lang="ar-jo">.5 - SR 57.5 - SR 115).  </span>
</p>
<br />
<br />

<h6 style="padding-left: 50px; color: #e7263f;">
    To Buy Aywa Calling Cards , please follow below steps:
</h6>
<br />*@
